*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


.contenedor{
    width: 100%;
    height: 100%;
    background-color:#260101

}

.platformPrincipal,.headerReproductor {
    margin: 3rem auto;
}
.headerReproductor, .platformPrincipal h1{
text-align: center;
color: white;

}

.card {
    margin: auto auto;
}
.contenedorCard {
margin: 12rem 50rem
;

}
.card-header{
    text-align: center;
}
.contenedorForm{
 
    width: 50%;
    height: 50%;
    margin: 20rem 30rem

}

.form-label, .form-check-label {
color: white;

}


.aleatorio2 h6{
    text-align: center;
text-transform: uppercase;
font-weight: bolder;
    color: white;
}