*{
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
}


body{

    background-color: #401212;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-text{
    color: black;
}
.playButton{
    display: hidden;
    font-size: 30px;
}

.playButton:hover{
    font-size: 30px;
    display: block;
}

.contenedorPlataforma{

    display: flex;
    flex-direction: column;

}
.contenedorPlataforma_seccion{
    display: flex;
    flex-direction: column;
}


    .registroTit{

        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

.contenedorRegistro{

margin-left: 20px ;
margin-right: 20px ;

}



.contenedorCard {
margin: 12rem auto
;

}
.card-header{
    text-align: center;
}
.contenedorForm{
   margin: 8rem auto;
   width: 20%;
}

.form-label, .form-check-label {
color: white;

}

.material-symbols-outlined{
    font-size: 5rem;
}

.contenedorPlataforma{

    display: flex;
    flex-direction: column;

}


/* Modo oscuro */

.modoPantalla{
background-color: rgb(32, 12, 12);
;
}




h1, p{color: white;}

.playlist{
    margin: 10rem auto;

}

.aboutcontainer{
    margin:5rem;
}

@media(min-width:576px)and(max-width:768px){
    .contenedorForm{
        width: 50%;

}

}

@media(max-width:575px){
    .contenedorForm{
        width: 80%;
        
}

}

@media(min-width:768px){


    .contenedor{
        margin-top: 150px;
        flex-direction: row;
    
    }
    
    .plataformafooter{
        margin-top: 190px;
    }
    
    }
    


/* reproductor */

.reproductorMain{

    margin: 190px
}
.containerPlayer{

width: 320px;
background-color:#401212;
border-radius: 20px;
color:white;
box-shadow: 2px 2px 3px black;
}

.portada{
    width: 128px;
    height: auto;
    border-radius: .3rem;
    display: block;
    margin: 0 auto 1rem auto;
}

/* Barra de progreso */

.barraProgreso {
    height: .6rem;
    background-color: lightgray;
    margin-bottom: 1rem;
}

.progreso {
    background-color: goldenrod;
    width: 0;
    height: 100%;
}


/* controles reproductor */
.controles {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.controles button {
    background-color: transparent;
    border: none;
}

.controles i {
    font-size: 1.7rem;
    color: white;
}

/* Songs */
.contenedorCanciones {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contenedorCanciones li {
    margin-bottom: 1rem;
}

.contenedorCanciones a {
    color: lightgray;
    text-decoration: none;
}

.contenedorCanciones a.active {
    color: rebeccapurple;
    font-weight: bold;
}
